.CabinetPickerContainer {
    display: flex;
    justify-content: center;
}
.CabinetPicker {
    width: 300px;
    margin-top: 15px;
}

.App-header {
    height: 150px;
    padding: 20px;
    color: white;
  }

  .App-title {
    font-size: 3em;
    text-align: center;
    margin-top: 80px;
  }

