.RastaContainer {
    position: absolute;
    display: flex;
    justify-content: center;
}
.gold {
    height: 100px;
    width: 50px;
    background: #f1833a;
}
.green {
    height: 100px;
    width: 50px;
    background: #3e6941;
}
.red {
    height: 100px;
    width: 50px;
    background: #b02b2a;
}
.brown {
    height: 100px;
    width: 50px;
    background: #31120f;
}
